<div class="page">
    <mat-form-field appearance="outline">
        <mat-label>Hae</mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]="searchTerm">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-accordion>
        <!--käytetään pipeä | merkinnällä, async, ja newsFilter(joka on pipen nimi)-->
        <mat-expansion-panel *ngFor="let item of cinemaData$ | async | newsFilter: searchTerm">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <!--viitataan läpikäydyn itemin kenttiin, eli item.PublishDate-->
                    <div>{{item.PublishDate | date:'d.M.yyyy'}}</div>
                </mat-panel-title>
                <mat-panel-description>
                    {{item.Title}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <img src="{{item.ImageURL}}">
            <p>{{item.HTMLLead}}</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>