<form (ngSubmit)="onSubmit(form1)" #form1="ngForm">

    <!--first name-->
    <mat-form-field>
        <input matInput placeholder="first name" name="firstName" [(ngModel)]="person.firstName" #fname="ngModel"
            required minlength="2" pattern="^[a-zA-Z]*$">
        <mat-error *ngIf="fname.hasError('required')">Enter your first name</mat-error>
        <mat-error *ngIf="fname.hasError('minlenghth')">Minimum 2 characters required</mat-error>
        <mat-error *ngIf="fname.hasError('pattern')">Must be valid first name</mat-error>
    </mat-form-field>

    <!--last name-->
    <mat-form-field>
        <input matInput placeholder="last name" name="lastName" [(ngModel)]="person.lastName" #lname="ngModel" required
            minlength="2" pattern="^[a-zA-Z]*$">
        <mat-error *ngIf="lname.hasError('required')">Enter your last name</mat-error>
        <mat-error *ngIf="lname.hasError('minlenghth')">Minimum 2 characters required</mat-error>
        <mat-error *ngIf="lname.hasError('pattern')">Must be valid last name</mat-error>
    </mat-form-field>

    <!--id, regex henkilotunnukselle-->
    <mat-form-field>
        <input matInput placeholder="id" name="id" [(ngModel)]="person.id" #id="ngModel" required minlength="10"
            pattern="^(0[1-9]|[12]\d|3[01])(0[1-9]|1[0-2])([0-9]\d\+|\d\d-|[0-9]\dA)\d{3}[\dA-Z]$">
        <mat-error *ngIf="id.hasError('required')">Enter your id</mat-error>
        <mat-error *ngIf="id.hasError('minlenghth')">Minimum 2 characters required</mat-error>
        <mat-error *ngIf="id.hasError('pattern')">Must be valid id</mat-error>
    </mat-form-field>

    <!--email, regex sahkopostille-->
    <mat-form-field>
        <input matInput placeholder="email" name="email" [(ngModel)]="person.email" #email="ngModel" required
            minlength="11" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
        <mat-error *ngIf="email.hasError('required')">Enter your email</mat-error>
        <mat-error *ngIf="email.hasError('minlenghth')">Minimum 11 characters required</mat-error>
        <mat-error *ngIf="email.hasError('pattern')">Must be valid email</mat-error>
    </mat-form-field>

    <!--user name-->
    <mat-form-field>
        <input matInput placeholder="username" name="userName" [(ngModel)]="person.userName" #userName="ngModel"
            required minlength="2" pattern="^[a-zA-Z]*$">
        <mat-error *ngIf="userName.hasError('required')">Enter your username</mat-error>
        <mat-error *ngIf="userName.hasError('minlenghth')">Minimum 2 characters required</mat-error>
        <mat-error *ngIf="userName.hasError('pattern')">Must be valid user name</mat-error>
    </mat-form-field>

    <!--password, regex: min 8 kirjainta, yksi kirjain, ja yksi numero-->
    <mat-form-field>
        <input matInput placeholder="password, minimum eight characters, at least one letter
        and one number" name="password1" #pwrd="ngModel" [(ngModel)]="person.password" type="password"
            pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
        <mat-error *ngIf="pwrd.hasError('required')">Enter your password</mat-error>
        <mat-error *ngIf="pwrd.hasError('pattern')">Must be valid password</mat-error>
    </mat-form-field>

    <!--confirm password-->
    <mat-form-field>
        <input matInput placeholder="confirm password" name="password2" [(ngModel)]="person.confirmP"
            #password2="ngModel" pattern="{{pwrd.value}}" type="password">
        <mat-error *ngIf="password2.hasError('required')">Enter your password</mat-error>
        <mat-error *ngIf="password2.hasError('pattern')">Must be valid password</mat-error>
    </mat-form-field>

    <!--checkbox, PRISTINE KESKEN, ota pois jos ei toimi-->

    <h2>Accept terms and conditions</h2>
    <mat-checkbox class="example-margin" name="box" #box="ngModel" [(ngModel)]="person.box" required>
        <mat-error *ngIf="box.hasError('required')">
        </mat-error>
        <div *ngIf="box.pristine"></div>
    </mat-checkbox>

    <button type="submit" mat-raised-button color="accent" [disabled]="form1.invalid">Submit</button>

</form>