<div class="container">
    <h2>Template driven form: Registration form</h2>

    <form #form1="ngForm" (ngSubmit)="onSubmit(form1); form1.resetForm()">

        <!--Lomake validoidaan nyt: required, minlength, pattern arvoilla, ja input elementissä
        käytetään ngModel tietokytkentää [(ngModel)]="person.firstName", eli sidotaan kaksisuuntaisesti.
        Validointi tehdään nyt input määrityksen sisällä, ja hasErrorilla voidaan laittaa virheilmoitus-->

        <!--first name, regex etta on kirjaimia-->
        <mat-form-field>
            <input matInput placeholder="first name" name="firstName" [(ngModel)]="person.firstName" #fname="ngModel"
                required minlength="2" pattern="^[a-zA-Z]*$">
            <mat-error *ngIf="fname.hasError('required')">Enter your first name</mat-error>
            <mat-error *ngIf="fname.hasError('minlength')">Minimum 2 characters required</mat-error>
            <mat-error *ngIf="fname.hasError('pattern')">Must be valid first name</mat-error>
        </mat-form-field>

        <!--last name-->
        <mat-form-field>
            <input matInput placeholder="last name" name="lastName" [(ngModel)]="person.lastName" #lname="ngModel"
                required minlength="2" pattern="^[a-zA-Z]*$">
            <mat-error *ngIf="lname.hasError('required')">Enter your last name</mat-error>
            <mat-error *ngIf="lname.hasError('minlength')">Minimum 2 characters required</mat-error>
            <mat-error *ngIf="lname.hasError('pattern')">Must be valid last name</mat-error>
        </mat-form-field>

        <!--id, regex suomalaiselle henkilotunnukselle-->
        <mat-form-field>
            <input matInput placeholder="id" name="id" [(ngModel)]="person.id" #id="ngModel"
                pattern="^(0[1-9]|[12]\d|3[01])(0[1-9]|1[0-2])([0-9]\d\+|\d\d-|[0-9]\dA)\d{3}[\dA-Z]$" required>
            <mat-error *ngIf="id.hasError('required')">Enter your id</mat-error>
            <mat-error *ngIf="id.hasError('pattern')">Must be valid id</mat-error>
        </mat-form-field>

        <!--email, regex sahkopostille-->
        <mat-form-field>
            <input matInput placeholder="email" name="email" [(ngModel)]="person.email" #email="ngModel" required
                minlength="5" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
            <mat-error *ngIf="email.hasError('required')">Enter your email</mat-error>
            <mat-error *ngIf="email.hasError('minlength')">Minimum 5 characters required</mat-error>
            <mat-error *ngIf="email.hasError('pattern')">Must be valid email</mat-error>
        </mat-form-field>

        <!--user name, vahintaan 6 merkkia-->
        <mat-form-field>
            <input matInput placeholder="username" name="userName" [(ngModel)]="person.userName" #userName="ngModel"
                required minlength="6" required>
            <mat-error *ngIf="userName.hasError('required')">Enter your username</mat-error>
            <mat-error *ngIf="userName.hasError('minlength')">Minimum 6 characters required</mat-error>
        </mat-form-field>

        <!--password, regex: min 10 kirjainta, yksi iso kirjain, yksi pieni kirjain, ja yksi numero-->
        <mat-form-field>
            <input matInput
                placeholder="password, minimum ten characters, at least one uppercase letter, one lowercase letter and one number"
                name="password1" #pwrd="ngModel" [(ngModel)]="person.password" type="password" required
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{10,}$">
            <mat-error *ngIf="pwrd.hasError('required')">Enter your password</mat-error>
            <mat-error *ngIf="pwrd.hasError('pattern')">Must be valid password</mat-error>
        </mat-form-field>

        <!--confirm password, sidottu tuolla patternilla tuohon aiempaan salasanaan-->
        <mat-form-field>
            <input matInput placeholder="confirm password" name="password2" [(ngModel)]="person.confirmP" required
                #password2="ngModel" pattern="{{pwrd.value}}" type="password">
            <mat-error *ngIf="password2.hasError('required')">Enter your password</mat-error>
            <mat-error *ngIf="password2.hasError('pattern')">Must be valid password</mat-error>
        </mat-form-field>

        <!--checkbox-->
        <h2>Accept terms and conditions</h2>
        <mat-checkbox class="example-margin" name="box" #box="ngModel" [(ngModel)]="person.box" required>
            <mat-error *ngIf="box?.touched && box?.invalid">You must accept terms and conditions</mat-error>
        </mat-checkbox>

        <button type="submit" mat-raised-button color="accent" [disabled]="form1.invalid">Submit</button>

    </form>
</div>