.container {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding: 30px;
    border-style: dotted;
}

.slid {
    width: 600px;
}

mat-slider {
    width: 50%;
}