<mat-toolbar>
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    Front-end tyokalut
    <div class="signin-toolbar">
        <div class="sign-in">
            <button mat-button><a routerLink="/login" routerLinkActive="active"
                    *ngIf="!(userEmail$ | async)">{{loginText}}</a></button>
            <!--ngIf jos ehto toteutuu-->
        </div>
        <div class="sign-out">
            <div *ngIf="(userEmail$ | async)">
                <button mat-button (click)="logggOut()">{{logOut}}</button>{{userEmail$ | async}}
            </div>
        </div>
    </div>
</mat-toolbar>


<mat-menu #menu="matMenu">
    <button mat-menu-item><a routerLink="/calculator" routerLinkActive="active">
            Calculator
        </a></button>
    <button mat-menu-item><a routerLink="/feedback" routerLinkActive="active">
            Feedback
        </a></button>
    <button mat-menu-item><a routerLink="/form" routerLinkActive="active">
            Form
        </a></button>
    <button mat-menu-item><a routerLink="/reactive-form" routerLinkActive="active">
            Reactive form
        </a></button>
    <button mat-menu-item><a routerLink="/cinema" routerLinkActive="active">
            Finnkino news
        </a></button>
    <button mat-menu-item><a routerLink="/login" routerLinkActive="active">
            Login
        </a></button>
    <!--ei normaalisti näkyvissä-->
    <button mat-menu-item><a routerLink="/admin" routerLinkActive="active">
            Admin
        </a></button>
    <button mat-menu-item><a routerLink="/tickets" routerLinkActive="active">
            Tickets
        </a></button>
    <button mat-menu-item><a routerLink="/loan" routerLinkActive="active">
            Loan
        </a></button>
</mat-menu>